*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --yellow: #ffe17f;
  --font-title: "Raleway", sans-serif;
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-header {
  background-color: var(--yellow);
  color: #000000;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.header-container {
  display: grid;
  grid-template-columns: 517px 1fr;
  grid-template-rows: 36px 40px 50px;
  align-items: center;
  gap: 30px 26px;
  width: 1040px;
  margin: 0 auto;
}

.logo-link {
  display: flex;
  grid-column: 1/-1;
  width: 145px;
}

.search-form {
  display: flex;
  position: relative;
}

.input {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.search-input {
  position: relative;
  width: 359px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  padding: 10px 10px 10px 48px;
  background-color: transparent;
}

.search-form::before {
  position: absolute;
  top: 12px;
  left: 16px;
  width: 16px;
  height: 16px;
  background-image: url("../images/decor/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.button {
  background-color: transparent;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  padding: 5px;
  color: #000000;
}

.search-button {
  width: 160px;
  height: 40px;
  border: 2px solid #000000;
  border-left: 0;
  border-radius: 0 50px 50px 0;
  background-color: transparent;
  padding: 0;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.menu-item {
  list-style: none;
}

.menu-item:not(:last-child):not(:first-child) {
  margin-right: 36px;
}

.menu-item-login {
  display: flex;
  margin-right: auto;
}

.menu-button {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
}

.menu-button::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 16px;
  height: 12px;
  background-repeat: no-repeat;
  content: "";
}

.login-button {
  padding-left: 27px;
}

.logout-button {
  padding: 0;
  min-width: 56px;
  opacity: 0.3;
}

.user-office-link {
  margin-right: 28px;
  padding-left: 27px;
  color: #000000;
}

.login-button::before,
.user-office-link::before {
  background-image: url("../images/decor/login.svg");
}

.compare-button {
  padding: 0 0 0 22px;
}

.compare-button::before {
  background-image: url("../images/decor/compare.svg");
  width: 10px;
}

.cart-button {
  padding: 0 0 0 27px;
}

.cart-button::before {
  background-image: url("../images/decor/cart.svg");
  height: 14px;
}

.cart-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
  font-size: 14px;
  line-height: normal;
  min-width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 0 3px;
}

.nav-menu-list {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.nav-menu-item {
  list-style: none;
}

.nav-menu-item:not(:first-child):not(:last-child) {
  margin-right: 45px;
}

.has-submenu {
  margin-right: auto;
}

.menu-item-link {
  font-family: var(--font-title);
  font-weight: 800;
  font-size: 18px;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
  color: #000000;
}

.main-index {
  flex-grow: 1;
}

.slider {
  margin-bottom: 70px;
}

.slider-container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: flex;
  align-items: end;
  gap: 40px;
  list-style: none;
}

.image-wrapper {
  position: relative;
  width: 560px;
}

.slider-button {
  padding: 0;
  width: 20px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.previous-button {
  position: absolute;
  top: 211px;
  left: 30px;
  background-image: url("../images/decor/slider-arrow-left.svg");
}

.next-button {
  position: absolute;
  top: 211px;
  right: 0;
  background-image: url("../images/decor/slider-arrow-right.svg");
}

.slider-about {
  width: 560px;
  min-height: 401px;
}

.title {
  font-family: var(--font-title);
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin: 0;
  padding: 0;
  color: #000000;
}

.slider-title {
  margin-bottom: 29px;
}

.slider-description {
  margin: 0 0 50px 0;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 220px;
  min-height: 40px;
  padding: 8px;
  font-family: var(--font-title);
  font-size: 18px;
  line-height: normal;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.link::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: var(--yellow);
  content: "";
}

.more-link {
  margin-bottom: 50px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.feature-item {
  list-style: none;
}

.feature-meaning {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin: 0 0 12px 0;
}

.feature-name {
  font-size: 16px;
  margin: 0;
}

.slider-pagination-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.slider-pagination-item {
  list-style: none;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.slider-pagination-item-active .slider-pagination-button {
  background-color: #000000;
}

.assortment {
  margin-bottom: 70px;
}

.assortment-container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.assortment-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.assortment-item {
  width: 160px;
  min-height: 253px;
  list-style: none;
}

.assortment-link {
  display: flex;
  align-items: end;
  position: relative;
  font-family: var(--font-title);
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
  color: #000000;
  text-decoration: none;
  width: 160px;
  min-height: 253px;
}

.assortment-link::before {
  position: absolute;
  top: 0;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--yellow);
  content: "";
}

.assortment-vr::before {
  background-image: url("../images/icons/icon-vr.svg");
}

.assortment-selfie::before {
  background-image: url("../images/icons/icon-selfie.svg");
  background-position: bottom;
}

.assortment-camera::before {
  background-image: url("../images/icons/icon-camera.svg");
}

.assortment-bracelet::before {
  background-image: url("../images/icons/icon-bracelet.svg");
}

.assortment-watch::before {
  background-image: url("../images/icons/icon-watch.svg");
}

.assortment-copter::before {
  background-image: url("../images/icons/icon-copter.svg");
}

.assortment-title {
  width: 160px;
  min-height: 60px;
  margin: 0;
}

.advantages {
  position: relative;
  background-color: #f0f0f0;
  margin-bottom: 70px;
  z-index: -1;
}

.advantages-container {
  display: flex;
  gap: 123px;
  position: relative;
  min-height: 319px;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.advantages-container::before {
  position: absolute;
  left: 280px;
  width: 7px;
  height: 100%;
  background-color: #000000;
  content: "";
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 0;
  padding: 64px 0 65px 0;
}

.advantages-item {
  /*position: relative; */
  list-style: none;
  width: 280px;
  min-height: 40px;
}

.advantage-button {
  width: 160px;
}

.advantages-item-active {
  background-color: #000000;
}

.advantages-item-active .advantage-button {
  color: var(--yellow);
}

.advantages-item-active .link::before {
  display: none;
}

.advatages-description-list {
  margin: 0;
  padding: 0;
}

.advantages-description-item {
  position: relative;
  list-style: none;
}

.advantages-description-delivery::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -242px;
  width: 136px;
  height: 164px;
  background-image: url("../images/icons/icon-delivery_big.png");
  background-repeat: no-repeat;
  content: "";
}

.advantages-description-gurantee::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -250px;
  width: 171px;
  height: 195px;
  background-image: url("../images/icons/icon-guarantee.png");
  background-repeat: no-repeat;
  content: "";
}

.advantages-description-credit::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -254px;
  width: 156px;
  height: 188px;
  background-image: url("../images/icons/icon-credit.png");
  background-repeat: no-repeat;
  content: "";
}

.advantages-title {
  margin: 72px 0 34px 0;
}

.advantages-description {
  width: 453px;
}

.rare-commodity {
  margin-bottom: 70px;
}

.rare-commodity-container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.rare-commodity-button {
  position: relative;
  width: 1160px;
  min-height: 100px;
  padding: 10px 140px;
  font-family: var(--font-title);
  font-size: 20px;
  line-height: normal;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
  background-color: #f0f0f0;
  border: none;
}

.rare-commodity-button::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 125px;
  height: 100px;
  background-image: url("../images/icons/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--yellow);
  content: "";
}

.rare-commodity-button::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 43px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../images/icons/icon-i.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #dcdcdc;
  content: "";
}

.about {
  margin-bottom: 70px;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  gap: 108px;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.about-us {
  position: relative;
  width: 520px;
  min-height: 493px;
}

.about-us::before {
  position: absolute;
  width: 84px;
  height: 7px;
  background-color: #000000;
  content: "";
}

.about-title {
  margin: 47px 0 48px 0;
}

.about-description,
.about-description-list {
  margin: 0 0 30px 0;
  width: 497px;
}

.about-list {
  margin: 0 0 30px 0;
  padding: 0;
}

.about-item {
  position: relative;
  list-style: none;
  padding-left: 37px;
}

.about-item:not(:last-child) {
  margin-bottom: 19px;
}

.about-item::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffc700;
  content: "";
}

.about-item b {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
}

.about-detailed-link {
  width: 270px;
}

.contacts {
  width: 532px;
  min-height: 545px;
  position: relative;
}

.contacts::before {
  position: absolute;
  width: 84px;
  height: 7px;
  background-color: #000000;
  content: "";
}

.contacts-title {
  margin: 47px 0 48px 0;
}

.contacts-description {
  margin: 0 0 30px 0;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 15px 0;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-address p {
  margin: 0;
}

.contacts-tel {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  color: #444444;
}

.working-hours {
  margin: 0 0 30px 0;
}

.write-to-us-link {
  width: 259px;
}

.subscribe {
  background-color: #f0f0f0;
}

.subscribe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1160px;
  min-height: 421px;
  margin: 0 auto;
  padding: 64px 0 56px 0;
}

.subscribe-title {
  width: 350px;
  min-height: 100px;
  margin-bottom: 144px;
}

.subscribe-description {
  width: 560px;
  min-height: 90px;
  margin: 0 0 144px 0;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  font-size: 18px;
  line-height: 30px;
  width: 557px;
  min-height: 55px;
  padding: 11px 11px 11px 16px;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  color: #444444;
  background-color: transparent;
}

.subscribe-button {
  font-family: var(--font-title);
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  width: 253px;
  min-height: 57px;
  border: 3px solid #c4c4c4;
}

.subscribe-free {
  position: relative;
}

.subscribe-free::before {
  position: absolute;
  top: 50%;
  left: -32px;
  transform: translateY(-50%);
  background-image: url("../images/decor/tick-green.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: "";
}

.main-footer {
  background-color: #444444;
  padding: 62px 0 61px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: 239px 455px 180px;
  grid-template-rows: 37px;
  justify-content: space-between;
  gap: 35px;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.footer-logo {
  grid-column: 1/-1;
}

.footer-address-contacts {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  color: #ffffff;
}

.footer-address-contacts p {
  position: relative;
  margin: 0;
  padding: 0 0 12px 0;
}

.footer-address-contacts p::after {
  position: absolute;
  bottom: -59px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  content: "";
}

.footer-menu-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  margin: 0;
  padding: 0;
}

.footer-menu-item {
  list-style: none;
}

.footer-menu-item-link {
  color: #ffffff;
}

.footer-contacts-tel {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}

.footer-social {
  grid-column: 2/3;
}

.social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.social-item {
  list-style: none;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.copyright-link {
  display: flex;
  justify-content: end;
}

/*catalog*/
.inner-header-container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 35px 21px 34px 60px;
}

.catalog-title {
  margin-bottom: 16px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  position: relative;
  list-style: none;
}

.breadcrumbs-item:not(:last-child)::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -18px;
  width: 4px;
  height: 8px;
  background-image: url("../images/decor/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
  content: "";
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.catalog-products {
  background-color: #f0f0f0;
}

.catalog-products-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.catalog-filter {
  width: 320px;
  padding: 25px 60px 25px 60px;
  z-index: 1;
}

.filter-title,
.sort-title {
  font-family: var(--font-title);
  font-size: 16px;
  line-height: normal;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.filter-title {
  margin-bottom: 72px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  position: relative;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin-bottom: 20px;
}

.catalog-filter-title::before {
  position: absolute;
  top: -14px;
  width: 200px;
  height: 2px;
  background-color: #000000;
  content: "";
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: #dcdcdc;
  margin-bottom: 80px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: #ebebeb;
  padding: 0;
  cursor: pointer;
}

.toggle-min {
  top: -9px;
  left: -9px;
}

.toggle-max {
  top: -9px;
  right: -9px;
}

.cost-value {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 60px;
  height: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
  cursor: default;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin: 0 0 47px 0;
  padding: 0;
}

.bluetooth-list {
  gap: 20px;
  margin-bottom: 35px;
}

.catalog-filter-item {
  list-style: none;
}

.catalog-label {
  position: relative;
  display: block;
  cursor: pointer;
}

/* создание чекбокса без доп спана "catalog-mark"
.catalog-label::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 2px solid #cccccc;
  content: "";
}

.catalog-label:has(.catalog-input[type='checkbox']::after) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/decor/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000000;
  content: "";
}

*/

.catalog-input[type="checkbox"]:checked + .catalog-mark {
  background-image: url("../images/decor/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000000;
}

.catalog-input[type="radio"]:checked + .catalog-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000000;
  content: "";
}

.catalog-input[type="radio"]:checked + .catalog-mark {
  border: 2px solid #000000;
}

.catalog-mark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 2px solid #cccccc;
}

.catalog-input[type="radio"] + .catalog-mark {
  border-radius: 50%;
}

.catalog-span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  padding-left: 36px;
}

.button-filter {
  font-family: var(--font-title);
  font-size: 18px;
  line-height: normal;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.catalog-right-column {
  background-color: #ffffff;
}

.catalog-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 840px;
  min-height: 70px;
  background-color: #f0f0f0;
  padding: 20px 40px;
}

.catalog-select {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  width: 141px;
  min-height: 30px;
  margin-left: auto;
  border: none;
  color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/decor/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 11px center;
  background-color: transparent;
}

.sort-button {
  width: 30px;
  height: 30px;
  border: none;
  background-image: url("../images/decor/sort-up.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 0;
}

.up-button {
  margin-left: auto;
}

.down-button {
  transform: rotate(180deg);
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 44px;
  row-gap: 40px;
  max-width: 840px;
  margin: 0;
  padding: 70px 40px 44px 40px;
}

.catalog-item {
  list-style: none;
  width: 360px;
  min-height: 452px;
}

.card-link {
  display: grid;
  grid-template-columns: 222px 1fr;
  grid-template-rows: 380px;
  align-items: start;
  justify-content: space-between;
  gap: 32px;
  position: relative;
  text-decoration: none;
}

/*Класс "catalog-item-new" для отображения нового товара*/
.catalog-item-new .card-link::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  content: "NEW";
  font-family: var(--font-title);
  font-size: 14px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.card-image {
  grid-column: 1/3;
  display: block;
}

.card-title {
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.36px;
  color: #000000;
  margin: 0;
}

.card-cost {
  line-height: normal;
  color: #444444;
  margin-left: auto;
}

.button-download {
  display: block;
  font-family: var(--font-title);
  font-size: 16px;
  line-height: normal;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  text-decoration: none;
  width: 760px;
  min-height: 55px;
  margin: 0 40px 44px 40px;
  padding: 18px;
  border: 3px solid #e5e5e5;
}

.pagination-catalog {
  display: flex;
  align-items: center;
  width: 760px;
  min-height: 71px;
  background-color: #ebebeb;
  margin: 0 40px 78px 40px;
}

.pagination-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.pagination-item {
  list-style: none;
}

.pagination-item-back {
  margin-right: auto;
}

.pagination-item-forward {
  margin-left: auto;
}

.pagination-button {
  font-family: var(--font-title);
  font-size: 18px;
  line-height: normal;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 128px;
  min-height: 71px;
  padding: 15px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
  color: #444444;
  text-decoration: none;
  width: 40px;
  height: 40px;
}

.pagination-link-active {
  opacity: 0.6;
}
